<div class="table-operations">
    <nz-input-group>
        <div nz-col nzSpan="2">
            <input type="text" nz-input [(ngModel)]="fillterData.orderId" placeholder="订单号" />
        </div>
        <div nz-col nzSpan="4">
            <input type="text" nz-input [(ngModel)]="fillterData.option" placeholder="商品名" />
        </div>
        <div nz-col nzSpan="4">
            <input type="text" nz-input [(ngModel)]="fillterData.origin" placeholder="付款途径" />
        </div>
        <div nz-col nzSpan="4">
            <input type="text" nz-input [(ngModel)]="fillterData.des" placeholder="备注" />
        </div>
        <div nz-col nzSpan="4">
            <nz-select nzAllowClear nzPlaceHolder="相关租赁人" name="origin" class="w100p" [(ngModel)]="fillterData.relativePeople">
                <nz-option nzValue="" nzLabel="请选择相关租赁人"></nz-option>
                <nz-option *ngFor="let item of adminList" nzValue="{{item.name}}" nzLabel="{{item.name}}"></nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="4">
            <button nz-button nzType="primary" (click)="search()"><i nz-icon nzType="search"></i>搜索</button>
        </div>
    </nz-input-group>
</div>
<nz-table [nzData]="result" [nzScroll]="tableScroll" #headerTable [nzFrontPagination]="false" [nzLoading]="loading"
    [nzTotal]="total" [nzShowTotal]="totalTemplate" [(nzPageIndex)]="fillterData.page" [(nzPageSize)]="fillterData.rows"
    (nzPageIndexChange)="search()">
    <thead>
        <tr>
            <th nzWidth="100px" nzLeft="0px">订单ID</th>
            <th nzWidth="250px">出租时间</th>
            <th nzWidth="100px">天数</th>
            <th nzWidth="100px">租金</th>
            <th nzWidth="100px">押金</th>
            <th nzWidth="150px">付款途径</th>
            <th nzWidth="200px">趣币会员</th>
            <th nzWidth="100px">订单项目</th>
            <th nzWidth="150px">所属部门</th>
            <th nzWidth="100px">操作员</th>
            <th nzWidth="250px">备注</th>
            <th nzWidth="100px" nzAlign="left" nzRight="0px">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of result">
            <td nzLeft="0px">{{item.id}}</td>
            <td>{{item.start}} / {{item.end}}</td>
            <td>{{common.DateDiffNormal(item.start,item.end)}}</td>
            <td>{{item.money}}</td>
            <td>{{item.deposit}}</td>
            <td>{{item.origin}}</td>
            <td>{{item.phone}}</td>
            <td>
                <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" (nzVisibleChange)="viewOrderDetail($event,item)">
                        查看明细
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item *ngIf="orderDetail.length === 0"><nz-spin nzSimple></nz-spin></li>
                            <li nz-menu-item *ngFor="let item of orderDetail">
                                ID: {{item.pid}} {{item.p_name}} [{{item.start_time}} / {{item.end_time}}] [租金: {{item.rent || '未知'}}] [{{item.userName}}]
                            </li>
                        </ul>
                    </nz-dropdown-menu>
            </td>
            <td>{{__departmentText(item.department)}}</td>
            <td>{{item.opteration}}</td>
            <td>{{item.des}}</td>
            <td nzRight="0px">
                <a (click)="printOrder(item)">打印</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate let-total> 共 {{ total }} 个结果 </ng-template>