<button nz-button nzType="primary" (click)="modalDisplay = true">添加顶级分类</button>
<nz-divider></nz-divider>
<div id="tree">
    <nz-spin [nzSpinning]="isSpinning">
        <nz-tree *ngIf="classifyOutputData.length > 0" [nzData]="classifyOutputData" nzShowLine
            (nzDblClick)="nzEvent($event)">
        </nz-tree>
    </nz-spin>
</div>
<nz-drawer [nzVisible]="visible" [nzWidth]="500" [nzClosable]="false" (nzOnClose)="close()">
    <p>
        <nz-input-group  nzCompact>
            <input type="text" class="w160" nz-input [(ngModel)]="classifyEditData.name" placeholder="名称" />
            <nz-select class="w120" [(ngModel)]="classifyEditData.manufactor" nzAllowClear nzPlaceHolder="请选择厂家" *ngIf="!classifyEditData.classify_a_id">
                <nz-option nzValue="{{item.name}}" nzLabel="{{item.name}}" *ngFor="let item of common.manufactor"></nz-option>
            </nz-select>
            <nz-select class="w120" [(ngModel)]="classifyEditData.classify_type" nzAllowClear nzPlaceHolder="请选择类型" *ngIf="classifyEditData.classify_a_id">
                <nz-option nzValue="{{item.id}}" nzLabel="{{item.name}}" *ngFor="let item of common.classifyType"></nz-option>
            </nz-select>
            <button nz-button nzType="primary" (click)="modifyName()"><i nz-icon nzType="save"></i></button>
        </nz-input-group>
    </p>
    <nz-descriptions [nzColumn]="2" nzTitle="分类信息">
        <nz-descriptions-item nzTitle="分类ID" [nzSpan]="1">{{classifyEditData.id}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="所属部门" [nzSpan]="1">{{classifyEditData.department}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="一级分类ID" [nzSpan]="1">{{classifyEditData.classify_a_id}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="二级分类ID" [nzSpan]="1">{{classifyEditData.classify_b_id}}</nz-descriptions-item>
    </nz-descriptions>
    <button nz-button [nzLoading]="isSpinning" nzType="danger" (click)="deleteClassify()">
        删除该分类
    </button>
    <nz-divider></nz-divider>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6">买断价</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <nz-input-number [(ngModel)]="deviceSellInfo.productPrice" name="productPrice" class="100p"></nz-input-number> 元
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6">租金</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <nz-input-number [(ngModel)]="deviceSellInfo.productRent" name="productRent" class="100p"></nz-input-number> 元
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6">押金</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <nz-input-number [(ngModel)]="deviceSellInfo.productDeposit" name="productDeposit" class="100p"></nz-input-number> 元
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6">途中</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <nz-input-number [(ngModel)]="deviceSellInfo.productDays" name="productDays" class="100p"></nz-input-number> 天
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6">起租</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <nz-input-number [(ngModel)]="deviceSellInfo.rentDays" name="rentDays" class="100p"></nz-input-number> 天
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6">容量</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <nz-input-number [(ngModel)]="deviceSellInfo.productCapacity" name="productCapacity" class="100p"></nz-input-number> G
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
            <nz-form-item>
                <nz-form-label [nzSpan]="3">备注</nz-form-label>
                <nz-form-control [nzSpan]="9">
                    <input nz-input [(ngModel)]="deviceSellInfo.des" name="des" class="100p" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <button nz-button [nzLoading]="isSpinning" type="button" class="ant-btn ant-btn-primary" (click)="editDeviceOuterPirce()"><span>保存</span></button>
        </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>封面上传</nz-form-label>
                <nz-form-control>
                    <nz-upload
                        class="avatar-uploader"
                        nzAction="http://122.114.177.171:8180/imgUpload/upload"
                        nzName="file"
                        nzListType="picture-card"
                        [nzShowUploadList]="false"
                        [nzBeforeUpload]="common.beforeUpload"
                        (nzChange)="changeAvatar($event)"
                    >
                    <ng-container *ngIf="!avatarUrl">
                        <i class="upload-icon" nz-icon></i>
                        <div class="ant-upload-text">封面</div>
                    </ng-container>
                    <img *ngIf="avatarUrl" [src]="'https://www.zudequ.com/cmd/images/' + avatarUrl" class="avatar" />
                    </nz-upload>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>描述图片上传</nz-form-label>
                <nz-form-control>
                    <nz-upload
                        class="upload-list-inline"
                        nzAction="http://122.114.177.171:8180/imgUpload/upload"
                        nzListType="picture"
                        [(nzFileList)]="desImgList"
                        (nzChange)="changeDesImg($event)"
                    >
                        <button nz-button>
                        <span><i nz-icon nzType="upload"></i> 上传 (描述图片)</span>
                        </button>
                    </nz-upload>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-divider *ngIf="hasAddSub"></nz-divider>
    <div nz-row *ngIf="hasAddSub">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>添加子分类</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="subClassifuName" placeholder="请输入该分类下的子分类名称" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <button nz-button [nzLoading]="isSpinning" type="button" class="ant-btn ant-btn-primary" (click)="addSubClassify()"><span>添加</span></button>
    </div>
</nz-drawer>
<nz-modal [(nzVisible)]="modalDisplay" nzTitle="添加顶级分类" (nzOnCancel)="modalDisplay = false" (nzOnOk)="addTopClassify()" [nzOkLoading]="isSpinning">
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">部门</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select [(ngModel)]="modalData.id" nzAllowClear nzPlaceHolder="请选择部门" name="department">
                    <nz-option *ngFor="let item of department" nzValue="{{item.id}}" nzLabel="{{item.name}}">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">分类名称</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input placeholder="请输入分类名称" [(ngModel)]="modalData.name" name="classifyName" />
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-modal>