<div class="table-operations">
    <nz-input-group>
        <div nz-col nzSpan="4">
            <input type="text" nz-input [(ngModel)]="fillterData.origin" placeholder="付款途径" />
        </div>
        <div nz-col nzSpan="4">
            <input type="text" nz-input [(ngModel)]="fillterData.des" placeholder="备注" />
        </div>
        <div nz-col nzSpan="4">
            <nz-select class="w100p" nzAllowClear nzPlaceHolder="请选择状态" name="status" [(ngModel)]="fillterData.status">
                <nz-option nzValue="" nzLabel="全部"></nz-option>
                <nz-option *ngFor="let item of common.weixinOrderStatus" nzValue="{{item.id}}" nzLabel="{{item.name}}"></nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="4">
            <button nz-button nzType="primary" (click)="search()"><i nz-icon nzType="search"></i>搜索</button>
        </div>
    </nz-input-group>
</div>
<nz-table [nzData]="result" [nzScroll]="tableScroll" #headerTable [nzFrontPagination]="false" [nzLoading]="loading"
    [nzTotal]="total" [nzShowTotal]="totalTemplate" [(nzPageIndex)]="fillterData.page" [(nzPageSize)]="fillterData.rows"
    (nzPageIndexChange)="search()">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
            <th nzWidth="100px" nzShowSort nzSortKey="id" nzLeft="0px">订单ID</th>
            <th nzWidth="100px" nzShowSort nzSortKey="status">状态</th>
            <th nzWidth="250px" nzShowSort nzSortKey="end">出租时间</th>
            <th nzWidth="100px">天数</th>
            <th nzWidth="100px" nzShowSort nzSortKey="money">租金</th>
            <th nzWidth="100px" nzShowSort nzSortKey="deposit">押金</th>
            <th nzWidth="150px">付款途径</th>
            <th nzWidth="150px">地址</th>
            <th nzWidth="150px">趣币会员</th>
            <th nzWidth="100px">订单项目</th>
            <th nzWidth="100px">所属部门</th>
            <th nzWidth="100px">订单来源</th>
            <th nzWidth="100px">操作员</th>
            <th nzWidth="250px">备注</th>
            <th nzWidth="200px">创建时间</th>
            <th nzWidth="200px" nzAlign="left" nzRight="0px">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of result; let i = index">
            <td nzLeft="0px">
                <i nz-icon nzType="star" nzTheme="outline" *ngIf="item.flag_careful === '0'"></i>
                <i nz-icon nzType="star" nzTheme="twotone" *ngIf="item.flag_careful === '1'"></i>
                {{item.id}}
            </td>
            <td>
                <i nz-icon nzType="money-collect" nzTheme="twotone" *ngIf="item.status === '2'" class="is-pay"></i>
                <i nz-icon nzType="money-collect" nzTheme="outline" *ngIf="item.status === '1'" class="un-pay"></i>
            </td>
            <td>{{item.start}} / {{item.end}}</td>
            <td>{{common.DateDiffNormal(item.start,item.end)}}</td>
            <td>{{item.money}}</td>
            <td>{{item.deposit}}</td>
            <td>{{item.origin}}</td>
            <td>
                <a nz-dropdown [nzDropdownMenu]="address" nzTrigger="click"
                    (nzVisibleChange)="viewAddressDetail($event,item)">
                    查看地址
                </a>
                <nz-dropdown-menu #address="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item *ngIf="!customerAddress.address">
                            <nz-spin nzSimple></nz-spin>
                        </li>
                        <li nz-menu-item *ngIf="customerAddress.name">客户姓名: {{customerAddress.name}}</li>
                        <li nz-menu-item *ngIf="customerAddress.phone">客户电话: {{customerAddress.phone}}</li>
                        <li nz-menu-item *ngIf="customerAddress.address">客户地址: {{customerAddress.address}}</li>
                    </ul>
                </nz-dropdown-menu>
            </td>
            <td>{{item.phone}}</td>
            <td>
                <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
                    (nzVisibleChange)="viewOrderDetail($event,item,true)">
                    查看明细
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <div class="c_orange" *ngIf="editData && editData.option !== null && editData.option.length === 0"><i nz-icon nzType="info-circle" nzTheme="outline"></i> 没有找到相关数据</div>
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item *ngIf="orderDetail.length === 0">
                            <nz-spin nzSimple></nz-spin>
                        </li>
                        <li nz-menu-item *ngFor="let item of orderDetail" [ngClass]="{'c_orange': item.is_back === '1','c_red':item.is_sell === '1'}">
                            ID: {{item.cid}} {{item.z_name}} [{{item.start_time}} / {{item.end_time}}] [租金:
                            {{item.rent || '未知'}}]
                            <span *ngIf="item.is_back === '1'">[已归还]</span>
                            <span *ngIf="item.is_sell === '1'">[已买断]</span>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </td>
            <td>{{__departmentText(item.department)}}</td>
            <td>{{item.store}}</td>
            <td>{{item.opteration}}</td>
            <td>{{item.des}}</td>
            <td>{{item.addTime}}</td>
            <td nzRight="0px">
                <a *ngIf="item.status === '2'" (click)="fitOut(item)">开始装配</a>
                <nz-divider nzType="vertical" *ngIf="item.status === '2'"></nz-divider>
                <a *ngIf="item.status === '2'" (click)="cancelOrderWarning(item)">取消订单</a>
                <a *ngIf="item.status === '1'" (click)="deleteOrder(item.id)">删除</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate let-total> 共 {{ total }} 个结果 </ng-template>
<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="left" [nzWidth]="450" nzTitle="订单装配" (nzOnClose)="visible = false">
    <div class="flex-between fit-out" *ngFor="let item of fitOutList">
        <div>
            <span class="pro-img">
                <img [src]="'https://www.zudequ.com/cmd/images/' + item.z_img" />
            </span>
            <span>{{item.z_name}}</span>
        </div>
        <div>
            <span>
                明细ID: {{item.id}}
                <i *ngIf="!item.pid" class="c_grey" nz-icon nzType="close-circle" nzTheme="outline"></i>
                <i *ngIf="item.pid" nz-icon nzType="check-circle" nzTheme="twotone"></i>
            </span>
            <span>租金: {{item.rent}} / 天</span>
            <span><input nz-input type="text" placeholder="请扫码设备名" [(ngModel)]="item.p_name" /></span>
            <span>
                <button nz-button [nzLoading]="loading" (click)="fitOutItem(item)">
                    <i nz-icon nzType="codepen" nzTheme="outline"></i>装配
                </button>
            </span>
        </div>
    </div>
    <div class="flex-between fit-out">
        <nz-descriptions [nzColumn]="2">
            <nz-descriptions-item nzTitle="物流单号" [nzSpan]="2">
                <input nz-input [(ngModel)]="currentOrder.dispatchId" />
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="订单备注" [nzSpan]="2">
                <textarea nz-input [(ngModel)]="orderDes" [nzAutosize]="{ minRows: 3, maxRows: 6 }" class="w300"></textarea>
                <div class="mt-10"><button nz-button [nzLoading]="loading" (click)="addOrderDes()">添加备注</button></div>
            </nz-descriptions-item>
        </nz-descriptions>
    </div>
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="outItem()">
        <i nz-icon nzType="thunderbolt" nzTheme="outline"></i>发货
    </button>
</nz-drawer>
<nz-modal
    [(nzVisible)]="orderCancelVisible"
    nzTitle="订单取消提示"
    (nzOnCancel)="orderCancelVisible = false"
    (nzOnOk)="cancelOrder()"
    [nzOkLoading]="loading"
>
      <p *ngIf="orderCancelVisible">确定要取消订单 {{currentOrder.id}} ?</p>
</nz-modal>